/*!
 * CSS file for the QRgenerator.html file
 */

#generateQRButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #cf63c5;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#generatedQRCode {
  display: block;
  margin: 0 auto;
}
