#QRgeneratorIframe{
	width:100%;
	height:900px;
}
#CreateQRButton { 
    color: rgb(24, 129, 245);
    font-size: 60px;
    height:70px;
    width:70px;
    right: 10%;
    bottom: 20%;
    /*position: fixed;*/
    padding-left: 60%;
    padding-top: 20%;
}
#portfolio {
    margin-top:-50px;
}